.DS_Store
node_modules



# local env files
.env.local
.env.*.local
._
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/vk/processed_images/._0a5dbcdc-2e44-4579-a576-c93d5ee55485.png
/src/vk/images/._0ab5222c-0f02-4144-ab86-8db841fac442.png
/src/vk/processed_images/._0ab5222c-0f02-4144-ab86-8db841fac442.png
/src/tg/images/._0ac1d316-523f-4a67-8cb5-317ec4d4f41f.jpg
/src/tg/images/._0b751210-de3e-412a-b96f-5a8494daa6bf.PNG
/src/tg/processed_images/._0b751210-de3e-412a-b96f-5a8494daa6bf.png
/src/vk/images/._00a570ab-c58e-4a90-ad7d-1b3ecfdb3333.PNG
/src/vk/processed_images/._00a570ab-c58e-4a90-ad7d-1b3ecfdb3333.png
/src/yt/images/._1ddb8fde-2d4e-4c9d-976d-fd71511236da.jpg
/src/yt/processed_images/._1ddb8fde-2d4e-4c9d-976d-fd71511236da.jpg
/src/yt/images/._2c0f1b0f-39a9-4e59-9a9c-a2b7e6841211.jpg
/src/yt/processed_images/._2c0f1b0f-39a9-4e59-9a9c-a2b7e6841211.jpg
/src/yt/images/._4c3814e0-d7f9-43f2-b677-bfd180b2fe13.docx.png
/src/yt/processed_images/._4c3814e0-d7f9-43f2-b677-bfd180b2fe13.docx.png
/src/yt/images/._04e8d8ee-7cc3-4afd-abc3-ea9996cf0fb2.png
/src/yt/processed_images/._04e8d8ee-7cc3-4afd-abc3-ea9996cf0fb2.png
/src/assets/._blog.png
/public/._favicon.ico
/src/store/user/._getters.js
/src/components/._HelloWorld.vue
/src/views/._HomeView.vue
/src/tg/._images
/src/vk/._images
/src/yt/._images
/src/assets/._img.png
/public/._index.html
/src/router/._index.js
/src/store/user/._index.js
/src/store/._index.js
/src/assets/._kup.png
/src/components/loginView/._LanguageSetup.vue
/src/views/._loadDataResultView.vue
/src/views/._loadDataView.vue
/src/components/._loginView
/src/views/._LoginView.vue
/src/assets/._logo.png
/src/assets/._magnifier.png
/src/store/user/._mutations.js
/src/tg/._processed_images
/src/vk/._processed_images
/src/yt/._processed_images
/src/assets/._quitIco.png
/src/views/._RegView.vue
/src/assets/._russian.jpeg
/src/store/user/._state.js
/src/tg/._tg.json
/src/tg/._tg.xlsx
/src/store/._user
/src/components/UserPage/._userCheckout.vue
/src/components/._UserPage
/src/views/._UserPageView.vue
/src/components/userReview/._userPreview.vue
/src/components/._userReview
/src/views/._userReviewView.vue
/src/components/userReview/._userTag.vue
/src/vk/._vk.json
/src/vk/._vk.xlsx
/src/tg/images/._0a0ba31d-baeb-4095-9835-b0801b995c0a.jpg
/src/tg/processed_images/._0a0ba31d-baeb-4095-9835-b0801b995c0a.jpg
/src/vk/images/._0a5dbcdc-2e44-4579-a576-c93d5ee55485.png
/src/yt/._yt.json
/src/yt/._yt.xlsx
/._node_modules
/._package.json
/._package-lock.json
/._.gitignore
/src/components/userReview/._dialogMenu.vue
/src/tg/images/._gg.jpg
/src/._main.js
/src/tg/processed_images/._q.jpg
/src/tg/images/._qq.jpg
/src/tg/processed_images/._w.png
/src/tg/images/._ww.png
/src/store/user/._actions.js
/src/._App.vue
/._dist
/src/components/._Header.vue
/src/components/userReview/._tagSearch.vue
/src/._users.json
/._vue.config.js
